<div class="container ">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <div class="about">
    <div class="left">
      <!-- About Section -->
      <%= partial 'partials/about' %>
      <!-- Projects Section -->
      <%= partial 'partials/projects' %>
    </div>
    <!-- Tech Stack Section -->
    <%= partial 'partials/skills' %>
  </div>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
