<div class="container ">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <div class="about d-flex justify-content-center">
    <div class="left">
      <!-- About Section -->
      <%= partial 'partials/about' %>
      <!-- Projects Section -->
      <%= partial 'partials/projects' %>
    </div>
    <!-- Tech Stack Section -->
    <%= partial 'partials/tech_stack' %>
  </div>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
